<div style="margin-bottom: 10rem;">
    <h3 style="margin-top: 1rem; text-align: center;">Dobrodosli na e-learning platformu.</h3>

    <div class="card-group" style="margin-top: 2rem; ">
        <div class="card">
            <div class="card-body" style="text-align: center;">
                <h5 class="card-title">O sajtu</h5>
                <p class="card-text">Eldoom je sistem za elektronsko ucenje koji predstavlja online podrsku u
                    nastavi.</p>
            </div>
        </div>
        <div class="card" style="text-align: center;">
            <div class="card-body">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSn9a87tWJtPxBweh4nj9DWD749vaUiUWdzBw&usqp=CAU"
                    alt="nemas" height="50px" width="100px">
                <p class="card-text">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur,
                    adipisci velit...</p>
            </div>
        </div>
        <div class="card" style="text-align: center;">
            <div class="card-body">
                <img src="https://www.onecalendar.nl/images/onecalendar.jpg" height="50px" width="100px" alt="">
                <p class="card-text">Pogledaj akademski kalendar na linku ispod: <br>
                    <a href="http://www.ftn.kg.ac.rs/studije/akademskikalendar">Akademski kalendar!</a>
                </p>
            </div>
        </div>
    </div>

    <h4 style="margin-top: 1rem; margin-left: 1rem;">Kategorije kurseva po studijama se nalaze ispod:</h4>

    <div class="container" style="margin-top: 2rem;">
        <tabset [justified]="true">
            <tab heading="Osnovne studije">Lista osnovnih...</tab>
            <tab heading="Master studije">Lista master...</tab>
            <tab heading="Doktorske studije">Lista doktorskih...</tab>
            <tab heading="Razno">Razno...</tab>
        </tabset>
    </div>
</div>