<div>
    <nav class="navbar navbar-expand-lg navbar-light " style="background-color: #0e609a;">
        <a class="navbar-brand">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQDTaugvwhAspHwEPN_UsBwu0X1SS3tPwFK5g&usqp=CAU"
                width="30" height="30" alt="" style="margin-left: 1rem;" class="rounded-circle">
        </a>
        <a class="navbar-brand" href="#" style="color: rgb(255, 255, 255);">Eldoom</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="https://github.com/dukanacv" style="color: rgb(255, 255, 255);">GitHub</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://portal.ftn.kg.ac.rs/authentication/login"
                        style="color: rgb(255, 255, 255);">E-portal</a>
                </li>
            </ul>
        </div>
        <form class="form-inline"
            *ngIf="!(loginService._currentStudent$ | async) && !(loginService._currentProfesor$ | async)">
            <a href="/login"><button class="btn btn-primary"
                    style="margin-right: 2rem; background-color:  rgb(90, 145, 204);" type="button">Uloguj
                    se</button></a>
        </form>

        <div class="btn-group"
            *ngIf="(loginService._currentStudent$ | async) || (loginService._currentProfesor$ | async)" dropdown
            style="margin-right: 4.5rem;">
            <a class="dropdown-toggle text-light" dropdownToggle>Vise opcija</a>
            <div class="dropdown-menu" *dropdownMenu>
                <a class="dropdown-item">Pogledaj profil</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" (click)="logout()" href="/">Odjava</a>
            </div>
        </div>
    </nav>
</div>