<div class="container">
    <h6 *ngFor="let o of obavestenja;">
        <div #jedno_obavestenje>
            {{o.naslov}} <br><br>
            <button (click)="deleteObavestenjeById(o.id)"
                style="float: right; margin-right: 2rem; width: 1rem; height: 1rem; border: none;" type="button"
                class="btn" *ngIf="(loginService._currentProfesor$ | async)">❌</button>
            <button style="float: right; margin-right: 1.5rem; width: 1rem; height: 1rem; border: none;" type="button"
                class="btn" [routerLink]="['/obavestenje-edit/', o.id]"
                routerLinkActive="router-link-active">✏️</button>
            {{o.sadrzaj}}
            <hr>
        </div>
    </h6>
</div>