<section class="">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6 text-black">
                <div class="d-flex align-items-center h-custom-2 px-5 ms-xl-4 mt-5 pt-5 pt-xl-0 mt-xl-n5">

                    <form style="width: 23rem;" #loginForm="ngForm" (ngSubmit)="login()" autocomplete="off">

                        <h4 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Potrebno je ulogovati se da bi
                            sadrzaj bio dostupan.</h4>

                        <div class="form-outline mb-4">
                            <input type="text" name="brIndexa" [(ngModel)]="model.brIndexa"
                                class="form-control form-control-lg" placeholder="Unesite broj indeksa..." />
                            <label class="form-label">Broj indeksa</label>
                        </div>

                        <div class="form-outline mb-4">
                            <input type="password" name="password" [(ngModel)]="model.password"
                                class="form-control form-control-lg" placeholder="Unesite svoju sifru" />
                            <label class="form-label">Password</label>
                        </div>

                        <div class="pt-1 mb-4">
                            <button class="btn btn-block" type="submit"
                                style="background-color:  rgb(90, 145, 204); color: white;">Login</button>
                            <br>
                            <p class="small mb-5 pb-lg-2"><a class="text-muted" href="/login">Zaboravili ste
                                    lozinku?</a>
                            </p>

                        </div>
                        <p>Nemate nalog? <a href="/register" class="link-info">Registruj se brzo i lako.</a></p>
                        <h5><a href="/profesor-login" class="link-info">Prijava za profesore</a></h5>

                    </form>

                </div>

            </div>
            <div class="col-sm-6 px-0 d-none d-sm-block">
                <h5 style="text-align: center;">"Testing leads to failure, and failure leads to understanding."<br> -
                    Burt
                    Rutan</h5>
                <img src="https://d338t8kmirgyke.cloudfront.net/icons/icon_pngs/000/017/716/original/programmer_6454310.png"
                    alt="Login image" width="450px" height="400px" style="object-fit: cover; object-position: left;">
            </div>
        </div>
    </div>
</section>