<div class="jumbotron">
    <h1 class="display-4">{{kurs.naziv | titlecase}}</h1>
    <p class="lead">{{kurs.opis}}</p>
    <button class="btn btn-primary" (click)="prijavaNaKurs()" *ngIf="(loginService._currentStudent$ | async)">Dodaj u
        Moje
        Kurseve</button>
    <button class="btn btn-warning" style="float: right;" (click)="odjavaSaKursa()"
        *ngIf="(loginService._currentStudent$ | async)">Izbrisi iz mojih
        prijava</button>
    <hr class=" my-4">
</div>

<div class="container">
    <div class="row">
        <div class="col col-lg-2" style="width: 20%; ">
            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action">⬅ Pocetna stranica</a>
                <a href="#" class="list-group-item list-group-item-action">🎛 Kontrolni panel</a>
                <a href="#" class="list-group-item list-group-item-action">Kompetencije</a>
                <a href="#" class="list-group-item list-group-item-action">Ocene</a>
            </div>
            <div class="container">
                <br>
                <button class="btn btn-primary btn1" style="justify-content: ceneter;"
                    *ngIf="(loginService._currentProfesor$ | async)">Dodaj
                    sekciju</button>
                <br>
                <div *ngIf="(loginService._currentStudent$ | async)">
                    <h5>Moji Kursevi ⤵</h5>
                    <ul ng *ngFor="let kurs of studentKursevi">
                        <li><a href="/kurs/{{kurs.id}}">{{kurs.naziv}}({{kurs.pripadnost}})</a>
                            <!-- [routerLink]="['/kurs', kurs.id]"
                            routerLinkActive="router-link-active" NE RADI?!?!?!?!??-->
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class=" col-md-auto" style="width: 60%;">
            <div style="margin-left: 4rem;">
                <app-obavestenje [kursId]="kurs.id"></app-obavestenje>
            </div>
        </div>
        <div class="col col-lg-2" style="width: 20%;">
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><b>VESTI</b></li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Morbi leo risus</li>
                <li class="list-group-item">Porta ac consectetur ac</li>
                <li class="list-group-item">Vestibulum at eros</li>
            </ul>
        </div>
    </div>
</div>